/* CSS custom properties / CSS variables */

:root {
  --darkmagenta: #8b008b;
  --magenta: #ff00ff;
  --royalblue: #4169e1;
  --teal: #14cfcf;
  --violet: #9400d3;
  --lightgreen: #15db15;
}

/* Use attribute selectors for the first part of the exercise */

li[class="dog"] {
  color: var(--magenta);
}

li[id="cat"] {
  color: var(--teal);
}

li[class="parrot"] {
  color: var(--lightgreen);
}

li[class="donkey"] {
  color: var(--royalblue);
}

li[class="hedgehog"] {
  color: var(--magenta);
}

li[class="cat dog parrot"] {
  color: var(--royalblue);
}

li[class="first"] {
  color: var(--lightgreen);
}

li[class="second"] {
  color: var(--darkmagenta);
}

li[class="third"] {
  color: var(--royalblue);
}

li[class="fourth"] {
  color: var(--darkmagenta);
}

/* Use descendant, child, and sibling selectors for the second part */

section li {
  color: var(--lightgreen);
}
